<a href="https://colab.research.google.com/github/nithinkumar888/PDS_B14_10B4/blob/main/Lab-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Step 1: Load Titanic dataset
df = pd.read_csv("/content/archive (22).zip")  # Replace with actual path

print("===== BEFORE CLEANING =====")
print(df.isnull().sum())  # Show missing values

# Step 2: Handle Missing Values
if 'Age' in df.columns:
    df['Age'].fillna(df['Age'].mean(), inplace=True)

if 'Embarked' in df.columns:
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

if 'Cabin' in df.columns:
    df.drop(columns=['Cabin'], inplace=True)

print("\n===== AFTER CLEANING =====")
print(df.isnull().sum())

# Step 3: Save cleaned dataset
df.to_csv("titanic_cleaned.csv", index=False)
print("\nData Cleaning Completed! Cleaned dataset saved as 'titanic_cleaned.csv'")

===== BEFORE CLEANING =====
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

===== AFTER CLEANING =====
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

Data Cleaning Completed! Cleaned dataset saved as 'titanic_cleaned.csv'

/tmp/ipython-input-3078283895.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-3078283895.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [3]:
import pandas as pd

# Step 1: Create mock student dataset
data = {
    "StudentID": [1, 2, 3, 4, 5, 6],
    "Name": ["Arjun", "Priya", "Rahul", "Sneha", "Vikram", "Anita"],
    "Gender": ["M", "Male", "male", "F", "Female", "female"]
}
df = pd.DataFrame(data)

print("===== Original Dataset =====")
print(df)

# Step 2: Standardize Gender values
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Gender'] = df['Gender'].replace({
    "m": "Male", "male": "Male",
    "f": "Female", "female": "Female"
})

print("\n===== Cleaned Dataset =====")
print(df)

===== Original Dataset =====
   StudentID    Name  Gender
0          1   Arjun       M
1          2   Priya    Male
2          3   Rahul    male
3          4   Sneha       F
4          5  Vikram  Female
5          6   Anita  female

===== Cleaned Dataset =====
   StudentID    Name  Gender
0          1   Arjun    Male
1          2   Priya    Male
2          3   Rahul    Male
3          4   Sneha  Female
4          5  Vikram  Female
5          6   Anita  Female